.site-content {
	padding-top:80px;
}
/* Posts */
.site-content-contain {
	img {
		margin-bottom:$baseline;
	}
}
.main-content__intro { 
	font-family:$heading;
	color:#999;
	font-size:18px;
}
.post-intro {
	color:$dark_grey;
}
.post-meta {
	border-bottom:1px solid $grey;
	margin-bottom:$baseline;
}
.post-meta__date {
	float:left;
}
.post-meta__author {
	float:right;
}
.post-meta__like .fa {
	color:$orange;
}
// .post-meta__like:hover, .post-meta__like a:hover, .post-meta__like .fa:hover {
// 	cursor:pointer;
// 	text-decoration:none;
// 	color:$light-blue;
// }

/* List Posts */
.list-post {
	background-color:$dark_blue;
	padding:16px;
}
.list-post__title {
	color:$orange;
	font-size:16px;
}
.list-post__published {
	color:$light-blue;
}

/* Sidebar */
.home-text h1 {
	font-size:1.5em;
}
.sidebar li {
	margin-bottom:$baseline;
}


/* Default content */
.content-body {
	width:90%;
	margin:0 auto;
}
@media screen and (min-width:992px) {
	.content-body {
		width:75%;
	}
}

